.banner_wrapper a{
    overflow: hidden;
    display: block;
}
.banner_wrapper a img{
    transition: var(--transition);
}
.banner_wrapper a:hover img{
    transform: scale(1.1) rotateZ(2deg);
}
.banner_wrapper>* {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
    margin-top: 0.8rem;
}
.banner_wrapper .banner_two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}
.banner_wrapper .banner_two_bottom{
    display: grid;
    gap: 0.8rem;
}

@media all and (max-width: 1100px){
    .banner_wrapper>* {
        grid-template-columns: 1fr;
    }
    .banner_wrapper .banner_three{
        display: grid;
        gap: 15px;
    }
}