/* topbar start */
.header_wrapper .topbar_wrapper{
    font-size: 0.8rem;
    background-color: var(--topbar_bg);
    border-bottom: 1px solid var(--border_color);
    padding: 5px 0;
    color: var(--topbar_text_color);
}
.header_wrapper .topbar_wrapper>*{
    display: flex;
    justify-content: space-between;
}
.header_wrapper .topbar_wrapper .left,
.header_wrapper .topbar_wrapper .right{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    align-items: center;
}
.header_wrapper .topbar_wrapper :is(.left,.right)>*+*{
    border-left: 1px solid var(--topbar_border_color);
    padding-left: 0.6rem;
}
/* topbar start */


/* middlebar start */
.middlebar_wrapper{
    border-bottom: 1px solid var(--border_color);
    padding: 0.8rem 0;
}
.middlebar_wrapper>*{
    display: grid;
    grid-template-columns: 150px 1fr 250px;
    align-items: center;
    gap: 1rem;
}

.middlebar_wrapper form{
    position: relative;
    max-width: 450px;
    width: 100%;
    margin: auto;
}
.middlebar_wrapper form input{
    border-color: #0002;
    padding-left: 25px;
    padding-right: 55px;
    border-radius: 2px;
}
.middlebar_wrapper form input:focus{
    border-color: var(--primary_color);
}
.middlebar_wrapper form button[type=submit]{
    position: absolute;
    top: 50%;
    left: calc(100% - 10px);
    transform: translate(-50%, -50%);
    border: none;
    background: var(--primary_color);
    height: 80%;
    aspect-ratio: 1/1;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: var(--transition);
}
.middlebar_wrapper form button[type=submit]:hover{
    box-shadow: 0 1px 5px var(--primary_color);
    border-radius: 10px;
}

.middlebar_wrapper .login_registration{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}
.middlebar_wrapper .login_registration .icon{
    font-size: 1.2rem;
    background-color: var(--primary_color);
    color: #fff;
    padding: 5px;
    width: 35px;
    min-width: 35px;
    aspect-ratio: 1/1 !important;
    display: grid;
    place-content: center;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 1px 10px var(--primary_color);
}
.middlebar_wrapper .login_registration span{
    font-weight: 300;
    font-style: italic;
}
/* middlebar end */


/* bottombar start */
.bottom_bar_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0;
    gap: 0.5rem;
    font-size: 0.95rem;
    border-bottom: 1px solid var(--border_color);
}
.bottom_bar_wrapper a{
    padding: 5px 5px;
    line-height: 1.2;
    color: #666;
    font-weight: 500;
}
.mobile_category_close{
    display: none;
}
/* bottombar end */




@media all and (max-width: 900px){
    .topbar_wrapper{
        display: none;
    }

    nav.bottom_bar_wrapper {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        transform: translateY(100%);
        transition: var(--transition);
        flex-wrap: nowrap;
        overflow-y: auto;
        z-index: 9;  
    }
    nav.bottom_bar_wrapper.active {
        transform: translateY(0%);
    }
    
    nav.bottom_bar_wrapper>a{
        display: block;
        padding: 10px 25px;
    }
    nav.bottom_bar_wrapper>a+a{
        border-top: 1px solid var(--border_color)
    }

    
    .bottom_bar_wrapper .mobile_category_close{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 35px;
        height: 35px;
        display: grid;
        place-content: center;
        background-color: var(--danger_color);
        color: #fff;
    }
}

@media all and (max-width: 768px){
    .middlebar_wrapper>*{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .middlebar_wrapper form{
        max-width: 80%;
        min-width: 80%;
        display: block;
        order: 2;
    }
    .middlebar_wrapper form button[type="submit"] {
        right: 5px;
        left: unset;
        transform: translateY(-50%)
    }
    .middlebar_wrapper .brand_logo{
        order: 0;
        width: 150px;
    }
    .middlebar_wrapper .login_registration{
        order: 1;
        width: 50%;
        justify-self: flex-end;
    }
}

@media all and (max-width: 500px){
    .middlebar_wrapper .login_registration .icon{
        display: none;
    }
}